# Obtaining Geographical Location through IP Address

### Selenium

In [32]:
import requests
from bs4 import BeautifulSoup
import sys
import codecs
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
import requests
import time
from fake_useragent import UserAgent
import csv
import pandas as pd
import numpy as np

### Use try & except

In [2]:
#Use fake UserAgent
def set_header_user_agent():
    user_agent = UserAgent()
    return user_agent.random

#open browser #打開瀏覽器，但不要載入圖片
options = webdriver.ChromeOptions()
prefs = {
    'profile.default_content_setting_values': {
        'images': 2,
        #'javascript': 2
    }
}
options.add_experimental_option('prefs', prefs)

#ua = "Mozilla/5.0 (Windows NT 10.0; WOW64; rv:53.0) Gecko/20100101 Firefox/53.0"
#headers = {'User-Agent': 'User-Agent:Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'}
#user_agent = set_header_user_agent()
#headers={ 'user-agent': user_agent }
#options.add_argument("user-agent={}".format(user_agent)) # 使用偽造的 user-agent
#options.add_argument(headers)

driver = webdriver.Chrome('./chromedriver', chrome_options=options)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: DeprecationWarning: use options instead of chrome_options

In [3]:
#define urls
IP_url1 = "https://tw.geoipview.com/"
IP_url2 = "https://www.ez2o.com/App/Net/IP"

In [4]:
driver.get(IP_url1)
driver.implicitly_wait(5)

In [ ]:
//*[@id="ipinfo_form"]/form/table/tbody/tr/td[2]/table/tbody/tr/td[1]/input

In [8]:
# 點查詢欄位
search_field = driver.find_element_by_xpath("""//*[@id="ipinfo_form"]/form/table/tbody/tr/td[2]/table/tbody/tr/td[1]/input""")
search_field.click()
search_field.clear()

# 輸入IP
search_field.send_keys("110.26.35.209")
search_field.send_keys(Keys.ENTER)
driver.implicitly_wait(5)

#拿到source page
IP_soup_1 = BeautifulSoup(driver.page_source, 'html.parser')

# 找table

<div id="ipinfo_show">
  <table width="250" cellspacing="0" cellpadding="1" border="0">
  <tbody><tr><td></td><td></td>
  </tr><tr><td class="show1" width="20%" nowrap="">主機名稱:&nbsp;</td><td width="80%" nowrap=""><div class="host"></div></td>
  </tr><tr><td class="show1" nowrap="">IP 位址:&nbsp;</td><td class="ip"><span class="show2">140.112.177.146</span> [<a href="http://whois.chromefans.org/140.112.177.146" target="_blank">whois</a>]</td>
  </tr><tr><td class="show1" nowrap="">國家/地區代碼:&nbsp;</td><td>TWN / TW &nbsp;  &nbsp; <img src="https://image.geoipview.com/flags/tw.png" width="16" height="11" border="0" align="absmiddle" alt="Taiwan"></td>
  </tr><tr><td class="show1" nowrap="">國家:&nbsp;</td><td class="show2">Taiwan</td>
  </tr><tr><td class="show1" nowrap="">地區:&nbsp;</td><td>25</td>
  </tr><tr><td class="show1" nowrap="">城市:&nbsp;</td><td class="show2">Fuan</td>
  </tr><tr><td class="show1" nowrap="">郵政編碼:&nbsp;</td><td></td>
  </tr><tr><td class="show1" nowrap="">緯度:&nbsp;</td><td>24.86009979248</td>
  </tr><tr><td class="show1" nowrap="">經度:&nbsp;</td><td>121.29570007324</td>
  </tr></tbody></table>
  </div>

In [23]:
# 找table

table_1 = IP_soup_1.find(id = "ipinfo_show")

In [26]:
df_1 = pd.read_html(str(table_1))[0]
df_1

          0                      1
0       NaN                    NaN
1     主機名稱:                    NaN
2    IP 位址:  110.26.35.209 [whois]
3  國家/地區代碼:               TWN / TW
4       國家:                 Taiwan
5       地區:                     25
6       城市:                   Bade
7     郵政編碼:                    NaN
8       緯度:        24.929800033569
9       經度:        121.28369903564

In [41]:
df_1.transpose()

,0,1,2,3,4,5,6,7,8,9
0,NaN,主機名稱:,IP 位址:,國家/地區代碼:,國家:,地區:,城市:,郵政編碼:,緯度:,經度:
1,NaN,NaN,110.26.35.209 [whois],TWN / TW,Taiwan,25,Bade,NaN,24.929800033569,121.28369903564

In [47]:
df_1.iloc[4][1] #國家
df_1.iloc[5][1] #地區
df_1.iloc[6][1] #城市
df_1.iloc[8][1] #緯度
df_1.iloc[9][1] #經度

'121.28369903564'

# 以下參考

In [6]:
#define urls
url = 'https://finance.yahoo.com/quote/'

#for loop
i = 1
for keyword in keywords:
    
    try:

        #hist url
        hist_url = url+keyword+"/history?p="+keyword

        #開啟網頁
        driver.get(hist_url)
        driver.implicitly_wait(5)

        #點日期
        driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[1]/div/div/div/span""").click()
        driver.implicitly_wait(5)
        #time.sleep(0.5)
        #點max
        driver.find_element_by_xpath("""//*[@id="dropdown-menu"]/div/ul[2]/li[4]/button/span""").click()
        driver.implicitly_wait(5)
        #time.sleep(0.5)

        #點frequency
        #driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[3]/span/div/svg""").click()
        #driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[3]/span/div/span/span""").click()
        #點apply
        driver.find_element_by_xpath("""//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/button/span""").click()
        driver.implicitly_wait(20)
        #time.sleep(0.5)

        #html parse 抓下載檔案的網址
        hist_soup = BeautifulSoup(driver.page_source, 'html.parser')
        links = hist_soup.select(".Fl(end).Mt(3px).Cur(p)") #帶有空格的class需要用.來取

        #CSV file link
        csv_url = links[0]['href']
        df = pd.read_csv(csv_url)
        df = df[['Date','Close']]
        df.rename(columns={'Close':keyword}, inplace=True) #rename the column after the specific stock

        #把某支股票的歷史價格存成csv檔
        file_path = "prices/" + keyword+".csv"
        df.to_csv(file_path, index=False)
        
        #assign不同的股票到不同的dataframe, 迴圈跑完要merge在一起
        names = locals()
        names['df%s' % i] = df
        i+=1
    
    except:
        i+=1
    #time.sleep(1)

#df = df1 #df是最後要的pooled的dataFrame，先assign成df1，再逐個跟其後的合併
#for j in range(2, i):
#    df = pd.merge(df, names['df%s' % j], how = 'left', on = ["Date"])
    #check how to use pd.merge() in the ref: 
    #https://pandas-docs.github.io/pandas-docs-travis/user_guide/merging.html

#df = df1
#for j in range(2, len(keywords)+1):
#    try:
#        df = pd.merge(df, names['df%s' % j], how = 'left', on = ["Date"])
#    except:
#        print("missing df"+j)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: DeprecationWarning: use options instead of chrome_options

In [11]:
df = df1
count = 0
for j in range(2, len(keywords)+1):
    try:
        df = pd.merge(df, names['df%s' % j], how = 'left', on = ["Date"])
    except:
        count+=1
        print("missing df"+str(j))
print("total missing: ", str(count))

missing df63
missing df72
total missing:  2

In [21]:
print(keywords[62], keywords[71]) #找出缺少的

BF.B BRK.B

In [27]:
#找到股價
BF_B_url = "https://query1.finance.yahoo.com/v7/finance/download/BF-B?period1=322099200&period2=1590624000&interval=1d&events=history"
BRK_B_url = "https://query1.finance.yahoo.com/v7/finance/download/BRK-B?period1=831600000&period2=1590624000&interval=1d&events=history"

#下載下來
df_BF_B = pd.read_csv(BF_B_url)
df_BF_B = df_BF_B[['Date','Close']]
df_BF_B.rename(columns={'Close':"BF-B"}, inplace=True) #rename the column after the specific stock
#把某支股票的歷史價格存成csv檔
file_path = "prices/BF-B.csv"
df_BF_B.to_csv(file_path, index=False)

df_BRK_B = pd.read_csv(BRK_B_url)
df_BRK_B = df_BRK_B[['Date','Close']]
df_BRK_B.rename(columns={'Close':"BRK-B"}, inplace=True) #rename the column after the specific stock
#把某支股票的歷史價格存成csv檔
file_path = "prices/BRK-B.csv"
df_BRK_B.to_csv(file_path, index=False)

In [12]:
df.head()

,Date,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
0,1999-11-18,31.473534,NaN,NaN,3.200893,NaN,3.453125,14.0000,17.058233,NaN,...,46.25000,40.531250,8.031250,73.122528,NaN,7.750719,NaN,27.611111,64.5000,NaN
1,1999-11-19,28.880543,NaN,NaN,3.301339,NaN,3.421875,14.5000,16.833782,NaN,...,46.37500,39.843750,8.062500,75.592888,NaN,7.638390,NaN,27.833334,64.6250,NaN
2,1999-11-22,31.473534,NaN,NaN,3.236607,NaN,3.312500,14.1250,17.451021,NaN,...,45.56250,39.773438,7.958333,76.581024,NaN,7.514827,NaN,27.416666,63.8125,NaN
3,1999-11-23,28.612303,NaN,NaN,3.314732,NaN,3.078125,14.6875,17.030178,NaN,...,43.65625,39.000000,7.895833,74.110672,NaN,7.391265,NaN,26.458334,62.5000,NaN
4,1999-11-24,29.372318,NaN,NaN,3.381696,NaN,3.078125,14.3125,17.282684,NaN,...,44.75000,39.562500,7.833333,74.275360,NaN,7.211538,NaN,27.027779,62.8750,NaN

In [28]:
df = pd.merge(df, df_BF_B, how = 'left', on = ["Date"])
df = pd.merge(df, df_BRK_B, how = 'left', on = ["Date"])

In [29]:
df.head()

,Date,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,...,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS,BF-B,BRK-B
0,1999-11-18,31.473534,NaN,NaN,3.200893,NaN,3.453125,14.0000,17.058233,NaN,...,8.031250,73.122528,NaN,7.750719,NaN,27.611111,64.5000,NaN,7.026667,38.340000
1,1999-11-19,28.880543,NaN,NaN,3.301339,NaN,3.421875,14.5000,16.833782,NaN,...,8.062500,75.592888,NaN,7.638390,NaN,27.833334,64.6250,NaN,6.880000,37.099998
2,1999-11-22,31.473534,NaN,NaN,3.236607,NaN,3.312500,14.1250,17.451021,NaN,...,7.958333,76.581024,NaN,7.514827,NaN,27.416666,63.8125,NaN,6.866667,38.180000
3,1999-11-23,28.612303,NaN,NaN,3.314732,NaN,3.078125,14.6875,17.030178,NaN,...,7.895833,74.110672,NaN,7.391265,NaN,26.458334,62.5000,NaN,6.546667,37.779999
4,1999-11-24,29.372318,NaN,NaN,3.381696,NaN,3.078125,14.3125,17.282684,NaN,...,7.833333,74.275360,NaN,7.211538,NaN,27.027779,62.8750,NaN,6.773334,37.900002

In [30]:
df.tail()

,Date,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,...,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS,BF-B,BRK-B
5157,2020-05-20,81.709999,9.87,135.720001,319.230011,91.190002,92.730003,196.360001,90.089996,195.179993,...,41.700001,17.24,62.080002,88.089996,126.599998,241.490005,31.120001,133.339996,68.690002,176.020004
5158,2020-05-21,80.750000,9.89,134.789993,316.850006,93.019997,92.250000,196.320007,90.389999,193.500000,...,41.959999,17.24,61.970001,88.010002,122.000000,244.149994,30.730000,130.330002,65.650002,174.940002
5159,2020-05-22,84.980003,9.70,133.479996,318.890015,92.099998,93.139999,206.160004,91.470001,193.710007,...,42.240002,16.98,62.220001,87.250000,123.400002,243.539993,30.190001,130.110001,64.779999,174.929993
5160,2020-05-26,86.129997,11.14,135.580002,316.730011,90.709999,90.779999,209.080002,89.480003,196.399994,...,45.330002,17.43,65.250000,88.050003,126.739998,255.960007,32.930000,130.449997,63.540001,180.339996
5161,2020-05-27,86.180000,11.98,141.710007,318.109985,89.980003,93.330002,207.759995,90.760002,199.929993,...,47.790001,18.09,68.860001,90.239998,128.339996,258.670013,35.080002,135.639999,65.820000,185.770004

# Save Files

In [31]:
df.to_csv('ALL_SP500_Prices.csv', index=False)

# 以上參考

# 讀所有的IP，先讀爬下來的PTT文章

In [33]:
# Save
#np.save("earthquake_dict_np", earthquake_dict)

# Load
earthquake_dict = np.load('earthquake_dict_np.npy',allow_pickle='TRUE').item()

In [50]:
#Use fake UserAgent
def set_header_user_agent():
    user_agent = UserAgent()
    return user_agent.random

#open browser #打開瀏覽器，但不要載入圖片
options = webdriver.ChromeOptions()
prefs = {
    'profile.default_content_setting_values': {
        'images': 2,
        #'javascript': 2
    }
}
options.add_experimental_option('prefs', prefs)

#ua = "Mozilla/5.0 (Windows NT 10.0; WOW64; rv:53.0) Gecko/20100101 Firefox/53.0"
#headers = {'User-Agent': 'User-Agent:Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'}
#user_agent = set_header_user_agent()
#headers={ 'user-agent': user_agent }
#options.add_argument("user-agent={}".format(user_agent)) # 使用偽造的 user-agent
#options.add_argument(headers)

driver = webdriver.Chrome('./chromedriver', chrome_options=options)


for MMMM in earthquake_dict.keys():
    try:
        #print(earthquake_dict[MMMM]["IP"])
        ip_address = earthquake_dict[MMMM]["IP"]
        
        #define urls
        IP_url1 = "https://tw.geoipview.com/"
        IP_url2 = "https://www.ez2o.com/App/Net/IP"
        
        #用第一個反查IP網站
        driver.get(IP_url1)
        driver.implicitly_wait(5)
        
        # 點查詢欄位
        search_field = driver.find_element_by_xpath("""//*[@id="ipinfo_form"]/form/table/tbody/tr/td[2]/table/tbody/tr/td[1]/input""")
        search_field.click()
        search_field.clear()

        # 輸入IP
        search_field.send_keys(ip_address)
        search_field.send_keys(Keys.ENTER)
        driver.implicitly_wait(5)

        #拿到source page
        IP_soup_1 = BeautifulSoup(driver.page_source, 'html.parser')
        driver.implicitly_wait(5)
        
        # 找table
        table_1 = IP_soup_1.find(id = "ipinfo_show")
        df_1 = pd.read_html(str(table_1))[0]
        
        #新增到該筆文章的dictionary下面
        earthquake_dict[MMMM]["Nation"] = df_1.iloc[4][1] #國家
        earthquake_dict[MMMM]["District"] = df_1.iloc[5][1] #地區
        earthquake_dict[MMMM]["City"] = df_1.iloc[6][1] #城市
        earthquake_dict[MMMM]["Latitude"] = df_1.iloc[8][1] #緯度
        earthquake_dict[MMMM]["Longitude"] = df_1.iloc[9][1] #經度
        
        time.sleep(0.5)
    except:
        pass

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: DeprecationWarning: use options instead of chrome_options

In [51]:
count

1025